/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: /*#fff *//*#2F2F2F*/ #D6DEE4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	width: 338px;
	height: 111px;
	background: url(../img/antenna_logo_final.png) no-repeat left top;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span { display: none; }

/* Main Navigation ---------------------------------------- */

#mainNav {
	width: 918px;
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../img/top-menu-bg.gif) no-repeat left top; 
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#mainNav li.logout {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}

#mainNav li a:hover { background: #fdfcf6; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}


#container {
	background: #fff url(../img/content.gif) repeat-y left top;
	border: 1px solid #ddd;
	width: 918px;
}

#container_login {
	background: #fff;
	border: 1px solid #ddd;
	width: 100%;
}

/* Sidebar ---------------------------------------- */

#sidebar {
	width: 179px;
	float: left;
}

#sidebar .sideNav { width: 179px; }

#sidebar .sideNav li { border-bottom: 1px solid #ddd; width: 179px; }

#sidebar .sideNav li a {
	display: block;
	color: #646464;
	background: #f6f6f6;
	text-decoration: none;
	height: 29px;
	line-height: 29px;
	padding: 0 19px;
	width: 141px;
}

#sidebar .sideNav li a:hover { background: #fdfcf6; }

#sidebar .sideNav li a.active, #sidebar .sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

/* Breadcrumb ---------------------------------------- */

h2 {
	width: 718px;
	float: right;
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ddd;
}

h2 a {
	color: #646464;
	text-decoration: none;
}

h2 a.active { color: #c66653; }

h2 a:hover { text-decoration: underline; }

/* Content ---------------------------------------- */

#main {
	width: 700px;
	float: right;
	padding: 0 19px 10px 0;
}

#main_login {
	width: 100%;
	float: left;
	padding: 10px;
	text-align:center;
}

#main_schedule {
	width: 100%;
	float: left;
	padding: 10px;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	padding: 0 0 0 10px;
	margin: 20px 0 10px;
}

#main table {
	border-top: 1px solid #ddd;
	width: 700px;
}

#main table tr td {
	background: #f6f6f6;
	padding: 0px 20px;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #ddd;
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr:hover td { background: #fdfcf6; }

#main table .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }
#main table tr:hover .action .edit { color: #c5a059; }
#main table tr:hover .action .delete { color: #a02b2b; }
#main table tr:hover .action .view { color: #55a34a; }

#main table tr:hover .action a:hover { text-decoration: underline; }

#main fieldset {
	border: 1px solid #ddd;
	padding: 19px;
	margin: 0 0 20px 0;
	background: #fbfbfb;
}

#main fieldset p { margin: 0 0 14px 0; float: left; width: 100%;  }

#main fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}

#main fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	/*float: left;*/
	margin: 0 10px 10px 0;
}

#main fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	/*float: left;*/
	margin: 0 10px 0 0;
}

#main fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	/*float: left;*/
	margin: 0 10px 0 0;
}

#main fieldset .text-long:focus, 
#main fieldset .text-medium:focus,
#main fieldset .text-small:focus,
#main fieldset textarea:focus { background: #fdfcf6 url(../img/input-shaddow-hover.gif) no-repeat left top; }

/* Fieldset login ----------------------------------------------------------------- */
#main_login fieldset {
	position:relative;
	border: 1px solid #ddd;
	padding: 19px;
	left:50%;
	margin-left:-167px;
	background: #fbfbfb;
	text-align: left;
	width:282px;
	
}

#main_login fieldset p { margin: 0 0 14px 0; float: left;  }

#main_login fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}

#main_login fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	/*float: left;*/
	margin: 0 10px 10px 0;
}

#main_login fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	/*float: left;*/
	margin: 0 10px 0 0;
}

#main_login fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	/*float: left;*/
	margin: 0 10px 0 0;
}


#main_schedule fieldset {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0;
	background: #fbfbfb;
	width:890px;
	text-align: center;
	
}

#main_schedule fieldset p { margin: 0 0 14px 0; float: left;  }

#main_schedule fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}

#main_schedule fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	/*float: left;*/
	margin: 0 10px 10px 0;
}

#main_schedule fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	/*float: left;*/
	margin: 0 10px 0 0;
}

#main_schedule fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	/*float: left;*/
	margin: 0 10px 0 0;
}

/* Messages ---------------------------------------------*/

#login_error {
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-color: #ff0000;
	padding: 17px 12px 12px 12px;
	width: 95%;
	background: #ff9999;
	text-align: center;
	color: #ff0000;
	margin-bottom: 10px;
	font-size: 16px;
}

#login_error img {
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -5px;
}

#addSuccess {
	background-image: url(../img/success.png);
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-color: #00ff00;
	padding: 17px 12px 12px 12px;
	width: 95%;
	background: #99ff99;
	text-align: center;
	color: #00ff00;
	margin-bottom: 10px;
	font-size: 16px;
}

#addSuccess img {
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -5px;
}

#editSuccess {
	background-image: url(../img/success.png);
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-color: #00ff00;
	padding: 17px 12px 12px 12px;
	width: 95%;
	background: #99ff99;
	text-align: center;
	color: #00ff00;
	margin-bottom: 10px;
	font-size: 16px;
}

#editSuccess img {
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -5px;
}

#main_login fieldset .text-long:focus, 
#main_login fieldset .text-medium:focus,
#main_login fieldset .text-small:focus,
#main_login fieldset textarea:focus { background: #fdfcf6 url(../img/input-shaddow-hover.gif) no-repeat left top; }



#main_login fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 364px;
	/*float: left;*/
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}

.button-submit {
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	width: 94px;
	height: 29px;
	cursor: pointer;
	border: none;
	background: url(../img/button-submit.gif) no-repeat left top;
}

/* Footer ---------------------------------------- */

#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
	text-align:center;
}

#footer a { color: #9B9B9B; }

#footer a:hover { text-decoration: none; }

/* Errors ---------------------------------------- */
span.errorMessage{
	color:#FF0000;
}

/* schedule creation ----------------------------- */
div#unique{
	display: none;	
}

#schedule-unique, #schedule-morning, #schedule-afternoon, #schedule-night { list-style-type: none; margin: 0; padding: 0; width: 350px; }
#schedule-unique li, #schedule-morning li, #schedule-afternoon li, #schedule-night li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; vertical-align: middle; }
html>body #schedule-unique li, #schedule-morning li, #schedule-afternoon li, #schedule-night li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#scheduleList{
	float:right;
	width:400px;
	margin:-155px 20px 0 0;
}

#videoList{
	float:left;
	width:400px;
}
.actionArrow{
	cursor:pointer;
}

#actionButtons{
	margin:20px 0;
	width:100%;
	clear:both;
}

#videos_wrapper{
	width:400px;
}

#categoriaSelect{
	position:relative;
	top:23px;
	z-index:5;
	width:100px;
}

#canal{
	float:right;
}

table#novoCanal td.action{
	text-align:center;
	vertical-align:middle;
}
table#novoCanal td.action img{
	cursor:pointer;
}

#doAction{
	width:100%;
	clear:both;
	text-align:center;
	margin-top:10px;
}

/* maquinas ----------------------*/
.maquina table#maquinas{
	width:100%;
	padding:0;
}

#main table#maquinas tr td {
	background: #f6f6f6;
	padding:3px;
	/*border-bottom: 1px solid #ddd;*/
}

#main table#maquinas tr.odd td {
	background: #fbfbfb;
}

#main table#maquinas tr:hover td { background: #fdfcf6; }

.maquina{
	width:100%;
	font-size:10px;
}

.maquina img{
	width:100px;
	vertical-align:middle;
}

.maquina label{
	font-weight:bold;
}
.maquina .status-ok{
	color:#003399;
}
.maquina .reiniciando{
	color:#FFCC00;
}
.maquina .date{
	color:#333333;
}

/* popup preview ----------------------*/

#previewPopup {
	margin-top: -55px;
	z-index: 5;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 500px;
	height: 500px;
	border-width: 2px;
	border-style: solid;
	border-color: #242251;
	border-radius: 0px 0px 20px 20px;
	background: #D3DFCB;
	display: none;
}
	
#preview {
	margin-top: 30px;
	width: 500px;
	height: 400px;
}

#closeImg {
	width: 45px;
	height: 45px;
	margin-left: 450px;
	margin-top: 5px;
}

#closeBar {
	background-color: #5D4157;
	width: 504px;
	height: 60px;
	margin-left: -2px;
	margin-top: -30px;
	border-width: 3px;
	border-radius: 20px 20px 0px 0px;
}

#antennaHeaderText {
	margin-left: 5px;
}

.formInstructions{
	font-size: 10px;
	color: #333;
}

/** Request machines --------------------------------------------- */
.machine_request{
	width:100%;
	float:left;
	padding-bottom:5px;
	border-bottom: 1px solid #666;
}
.machine_request a{
	text-decoration: none;
}
.machine_request .request_form{
	position:relative;
	left: 200px;
	botom: 300px;
}

.machine_request .request_action{
	float:right;
}

.machine{
	display:inline-block;
	width:100%;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
.machine_image{
	display:inline-block;
	width:130px;
}
.machine_informations{
	display:inline-block;
	vertical-align: top;
	padding-top:30px;
	width:250px;
}
.machine_informations label{
	font-weight: bold;
}
.machine_commands{
	display:inline-block;
	vertical-align: top;
}

.select_commands{
	display:inline-block;
	vertical-align: top;
	width:165px;
	padding-top:10px;
}
.commands_table{
	display:inline-block;
	vertical-align: top;
	width:140px;
	padding-top:10px;
}
.commands_table ul{
	margin-top:5px;
}
.commands_table ul li{
	border-top:1px solid black;
	padding:2px 0 2px 0;
	background:#ccc;
}